
#viewer5d-ControlerContainer {
    margin: 5px;
    height: 28px;
}

#viewer5d-Menu {
    float: left;
    width: 180px;
}

#viewer5d-Slider {
    margin-left:180px;
    top:10px;
}

#viewer5d-OptionContainer {
    margin:5px;
    clear: both;

    height: 28px;
}

#viewer5d-OptionWrapper {
    margin:5px;
    clear: both;
    float: left;
    height: 25px;
    width: 150px;
}

#viewer5d-Option {
    margin: 0 5px;
}

#viewer5d-Start {
    float: left;
    width: 40%;
    margin: 5px;
    height: 25px;
}

#viewer5d-StartLabel {
    text-align: left;
}

#viewer5d-End {
    float: right;
    width: 40%;
    margin: 5px;
    height: 25px;
}

#viewer5d-EndLabel {
    display: block;
    text-align:right;
}

#viewer5d-ContentContainer {
    margin:5px;
    clear: both;

    height: 100%;
}
#viewer5d-TableContainer{
    float: left;
    width: 55%;
}

#viewer5d-Table {
    float: left;
    width: 100%!important;
}

#viewer5d-Table_wrapper {
    float: left;
    width: 55%;
}

#viewer5d-ReportContainer {
    float: left;
    width: 45%;    
}

#viewer5d-Report {
    margin: 10px;
    height: 200px;
}

#viewer5d-Table thead tr th{
    font-size: 8px;
    text-align: center;
}
    #viewer5d-Table tbody tr td {
        font-size: 8px;
        text-align: center;
    }

.viewer5d-Menu-Button {
    float: left;
    margin: 4px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    background-position: 0px, 0px;
}

.viewer5d-Menu-PlayButton {
    background-image: url("./button-play.png");
}

.viewer5d-Menu-PlayButtonClick {
    background-image: url("./button-play-click.png");
}

.viewer5d-Menu-PlayButtonDisable {
    background-image: url("./button-play-disable.png");
}

.viewer5d-Menu-PreviousButton {
    background-image: url("./button-previous.png");
}

.viewer5d-Menu-PreviousButtonClick {
    background-image: url("./button-previous-click.png");
}

.viewer5d-Menu-PreviousButtonDisable{
    background-image: url("./button-previous-disable.png");
}

.viewer5d-Menu-PauseButton {
    background-image: url("./button-pause.png");
}

.viewer5d-Menu-PauseButtonClick {
    background-image: url("./button-pause-click.png");
}

.viewer5d-Menu-PauseButtonDisable {
    background-image: url("./button-pause-disable.png");
}

.viewer5d-Menu-NextButton {
    background-image: url("./button-next.png");
}


.viewer5d-Menu-NextButtonClick {
    background-image: url("./button-next-click.png");
}


.viewer5d-Menu-NextButtonDisable {
    background-image: url("./button-next-disable.png");
}

.viewer5d-Menu-StopButton {
    background-image: url("./button-stop.png");
}

.viewer5d-Menu-StopButtonClick {
    background-image: url("./button-stop-click.png");
}

.viewer5d-Menu-StopButtonDisable {
    background-image: url("./button-stop-disable.png");
}